<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="sidebar">
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a th:href="@{/}" class="brand-link text-center">
                    <!--<img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opakota: .8">-->
                    <span class="brand-text font-weight-bold">Parking System</span>
                </a>

                <div class="sidebar slimScroll">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img th:src="${loggedUser.photo != null && loggedUser.photo != ''} ? @{/image/profile/+${loggerUser.photo}} : @{/img/profile.png}" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block" th:text="${loggedUser.fullname}">Alexander Pierce</a>
                        </div>
                    </div>

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a th:href="@{/}" class="nav-link" th:classappend="${activeTab == 'DASHBOARD' ? 'active' : null}">
                                    <i class="nav-icon fa fa-dashboard"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li th:if="${#strings.equalsIgnoreCase(loggedUser.userType,'ADMIN')}" class="nav-item has-treeview"
                                th:classappend="${activeTab == 'MASTER' ? 'menu-open' : null}">
                                <a href="#" class="nav-link" th:classappend="${activeTab == 'MASTER' ? 'active' : null}">
                                    <i class="nav-icon fa fa-gears"></i>
                                    <p>
                                        Master
                                        <i class="right fa fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a th:href="@{/master/user_admin}" class="nav-link" th:classappend="${subTab == 'USER_ADMIN' ? 'active' : null}">
                                            <i class="fa fa-user-secret"></i>
                                            <p>User Admin</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/master/user_member}" class="nav-link" th:classappend="${subTab == 'MEMBER' ? 'active' : null}">
                                            <i class="fa fa-users"></i>
                                            <p>Member</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a th:href="@{/master/harga}" class="nav-link" th:classappend="${subTab == 'HARGA' ? 'active' : null}">
                                            <i class="fa fa-money"></i>
                                            <p>Harga</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li th:if="${#strings.equalsIgnoreCase(loggedUser.userType,'ADMIN')}" class="nav-item">
                                <a th:href="@{/konfirmasi}" class="nav-link" th:classappend="${activeTab == 'KONFIRMASI' ? 'active' : null}">
                                    <i class="nav-icon fa fa-th-list"></i>
                                    <p>Konfirmasi Transaksi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/informasi_tabungan/list}" class="nav-link" th:classappend="${activeTab == 'LAPORAN_TRANSAKSI' ? 'active' : null}">
                                    <i class="nav-icon fa fa-list-alt"></i>
                                    <p>Laporan Transaksi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/logout}" class="nav-link">
                                    <i class="nav-icon fa fa-sign-out"></i>
                                    <p>Logout</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
        </div>
    </body>
</html>
