<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTab='DASHBOARD'">
<body>
<div layout:fragment="customCss">
    <!--custom css here-->
</div>

<div layout:fragment="pageHeader">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Tambah Member Card</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <form th:action="@{/dashboard_member/tambah_kartu}" method="post" th:object="${cardDto}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Tipe Kendaraan</label>
                                    <select th:field="*{tipeKendaraan}" class="form-control">
                                        <option value="RODA_DUA">Roda 2</option>
                                        <option value="RODA_EMPAT">Roda 4</option>
                                        <option value="RODA_EMPAT_LEBIH">Roda 4+</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nomor Plat</label>
                                    <input th:field="*{nomorPlat}" type="text" class="form-control" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Pilih Durasi Kartu <small>bisa diperpanjang</small></label>
                                    <select th:field="*{harga}" class="form-control">
                                        <option th:each="harga : ${hargas}" th:value="${harga.id}" th:text="${harga.nama+' - '+harga.amount}">Roda 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nama Bank</label>
                                    <input th:field="*{namaBank}" type="text" class="form-control" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Nama Pemilik Rekening</label>
                                    <input th:field="*{namaPemilikRekening}" type="text" class="form-control" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Nomor Rekening</label>
                                    <input th:field="*{nomorRekening}" type="number" class="form-control" required="required" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="customJavascript">
    <!--custom javascript here-->
</div>
</body>
</html>
