<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" th:with=" activeTab='DASHBOARD'">
    <body>
        <div layout:fragment="customCss">
<!--custom css here-->
        </div>

        <div layout:fragment="pageHeader">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Dashboard</h1>
                        </div>
                        <!--<div class="col-sm-6">-->
                            <!--<ol class="breadcrumb float-sm-right">-->
                                <!--<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>-->
                            <!--</ol>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="content">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                          Welcome, <span th:text="${loggedUser.fullname}"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div layout:fragment="customJavascript">
            <!--custom javascript here-->
        </div>
    </body>
</html>
