<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with=" activeTab='DASHBOARD'">
<body>
<div layout:fragment="customCss">
    <!--custom css here-->
</div>

<div layout:fragment="pageHeader">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Member Card</h1>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <a th:href="@{/dashboard_member}" class="btn btn-primary"><span class="fa fa-arrow-left"></span> Kembali</a>
                        <!--<a target="_blank" th:href="@{/dashboard_member/print_transaksi(id=${transaksi.id})}" class="btn btn-info"><span class="fa fa-print"></span> Print</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3>Transaksi Issue telah dibuat</h3>
                            <h4>Silahkan bayar Ke rekening dibawah</h4>
                            <h3>Bank BCA : 0383129348</h3>
                            <h4>Nominal : <span th:text="'Rp. '+${#numbers.formatDecimal(transaksi.getAmount(), 0, 'COMMA', 0, 'POINT')}"></span></h4>
                            <!--<hr/>-->
                            <!--<img th:src="@{/image/qr_code/} + ${transaksi.memberCard.qrCode}" alt="QR Code" />-->
                            <hr/>
                            <h4>Jika sudah membayar, Silahkan mengirim bukti pembayaran <a th:href="@{/dashboard_member/bukti_pembayaran(id=${transaksi.id})}">disini</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="customJavascript">
    <!--custom javascript here-->
</div>
</body>
</html>
