<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTab='MASTER',subTab='HARGA'">
<body>
<div layout:fragment="customCss">
    <!--custom css here-->
</div>

<div layout:fragment="pageHeader">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Harga</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <form th:action="@{/master/harga/form}" method="post" th:object="${harga}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Nama</label>
                                    <input th:field="*{nama}" type="text" class="form-control" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Durasi</label>
                                    <input th:field="*{durationLength}" type="number" class="form-control" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Tipe Durasi</label>
                                    <select th:field="*{durationType}" class="form-control">
                                        <option value="MONTH">Bulan</option>
                                        <option value="YEAR">Tahun</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Harga</label>
                                    <input th:field="*{amount}" type="number" class="form-control" required="required" />
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                    <a th:href="@{/master/harga}" class="btn btn-default">Kembali</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="customJavascript">
    <!--custom javascript here-->
</div>
</body>
</html>
